<h1>{{ title }}</h1>

<nav>
  <a routerLink="/teams" routerLinkActive="active">Teams</a> |
  <a routerLink="/register-team" routerLinkActive="active">Register Team</a> |
  <a routerLink="/gallery" routerLinkActive="active">Gallery</a> |
  <a routerLink="/admin-login" routerLinkActive="active">Admin Login</a> |
  <a routerLink="/match-results" routerLinkActive="active">Match Results</a> |
  <a routerLink="/pools" routerLinkActive="active">Pools</a> |
  <a routerLink="/match-schedule" routerLinkActive="active">Match Schedule</a>
</nav>

<hr />

<router-outlet></router-outlet>
