<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/images/volleyball1.jpg" alt="Volleyball action">
    <div class="carousel-caption">
      <h3>Team Spirit</h3>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img src="assets/images/volleyball2.jpg" alt="Serving the ball">
    <div class="carousel-caption">
      <h3>Powerful Serve</h3>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img src="assets/images/volleyball3.jpg" alt="Victory celebration">
    <div class="carousel-caption">
      <h3>Celebrating Victory</h3>
    </div>
  </ng-template>
</ngb-carousel>
